
.navbar {
    height: 100px;
    font-family: "Lobster";
}

#jumbohome  {
   background-color: rgb(6, 209, 6);
   font-family:"Source+Sans+Pro";
}

.containerhome {
    
    background-color: rgb(192, 241, 192);
    font-family:"Source+Sans+Pro";
    
}   


.homephoto {
    height: 300px;
    width: 500px;
}

.footer {

    height: 100px;
    background-color: rgb(5, 102, 5);
    width: 100%;
    flex-wrap: wrap;
    font-family:"Source+Sans+Pro";
} 

.accordion {
   height: 200px;
   width: 25%;
   font-family:"Source+Sans+Pro";

}

.form-group {
    height: 75px;
    width: 50%;
    font-family:"Source+Sans+Pro";
}

.body2 {
    background-image:url(/Portfolio/sara-kurfess-k68S17uT9dU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.jumbocontact {

    background-color:  rgb(6, 209, 6);
    font-family:"Source+Sans+Pro";
}


.contactphoto {
    
  height: 600px;
  width: 400px;
  
}

.form_wrapper {
    background-color:rgb(192, 241, 192);
    border-radius: 10px;
    padding: 20px 30px;
    margin-bottom: 6rem;
  }

  .abouttext  {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(192, 241, 192);
  }

  .about2  {

   
  }

  /* Portrait and Landscape */
@media all 
and (min-device-width: 320px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}
 

