
.navbar {
    height: 100px;
    
}

#jumbo1  {
   background-color: rgb(6, 209, 6);
}

.footer {

    height: 50px;
    background-color: rgb(5, 102, 5);
    width: 100%;
    flex-wrap: wrap;
} 

.accordion {
   height: 200px;
   width: 25%;
   

}

.form-group {
    height: 75px;
    width: 50%;

}

.body2 {
    background-image:url(/Portfolio/sara-kurfess-k68S17uT9dU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.contactphoto {
    
  height: 600px;
  width: 400px;
    

}