
.navbar {
    height: 100px;
    font-family: "Lobster";
}

#jumbohome  {
   background-color: rgb(6, 209, 6);
   font-family:"Source+Sans+Pro";
}

.jumbo2 {
    
    background-color: rgb(192, 241, 192);
    font-family:"Source+Sans+Pro";
}


.homephoto {
    height: 300px;
    width: 500px;
}

.footer {

    height: 50px;
    background-color: rgb(5, 102, 5);
    width: 100%;
    flex-wrap: wrap;
    font-family:"Source+Sans+Pro";
} 

.accordion {
   height: 200px;
   width: 25%;
   font-family:"Source+Sans+Pro";

}

.form-group {
    height: 75px;
    width: 50%;
    font-family:"Source+Sans+Pro";
}

.body2 {
    background-image:url(/Portfolio/sara-kurfess-k68S17uT9dU-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
}

.jumbocontact {

    background-color:  rgb(6, 209, 6);
    font-family:"Source+Sans+Pro";
}


.contactphoto {
    
  height: 600px;
  width: 400px;
  
}